body {
    background-color: hsl(0, 8%, 58%);
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }

  h2 {
    font-size: 2em; /* Larger font size */
    color: #333; /* Dark gray color */
    font-family: sans-serif; /* Sans-serif font */
    margin-bottom: 15px; /* Space below the h2 */
  }
